/*.columns{
    display: flex;
    flex-wrap: wrap;
} 

I disvored that if I do this every left and right column's elements/row doesn't show one below the other

*/ 

.left-column{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.right-column{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.submit-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width: 768px){
    .columns{
        display: flex;
        justify-content: space-around;
    }
    .submit-button{
        display: flex;
        justify-content: center;
    }
}