#upper-main-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#left-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
}
.img-xiaomi{
    display: flex;
    width: 70%;
    height: auto;
}
.first-article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#secondary-news{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.img-iphone{
    display: flex;
    width: 50%;
    height: auto;
}
.second-article{
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
}
.img-ps5{
    display: flex;
    width: 50%;
    height: auto;
}
.third-article{
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
}
#side-bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    align-content: space-around;
    width: 30%;
}
.img-vr{
    display: flex;
    width: 70%;
    height: auto;
}
.fourth-article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.img-fintech{
    display: flex;
    width: 100%;
    height: auto;
}
.fifth-article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}



@media only screen and (min-width: 768px) {}